<left>

        
    
    <h2 class="github-title">Github Repo - EC2 MSSQL Workshop</h3>
    <a class="github-button" href="https://github.com/aws-samples/amazon-ec2-mssql-workshop"
                data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a>
    <a class="github-button" href="https://github.com/aws-samples/amazon-ec2-mssql-workshop/fork"
                data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork on GitHub">Fork</a>
    
    <h2 class="github-title">Links</h2>
    <div>
        <a href="https://aws.amazon.com/privacy/">Privacy | </a> 
        <a href="https://aws.amazon.com/terms/">Site terms</a>
    </div>
    <h5 class="copyright">&copy; 2020 Amazon Web Services, Inc. or its Affiliates. All rights reserved.<h5>

</left>

<script async defer src="https://buttons.github.io/buttons.js"></script>
