<left>

    <h5 class="copyright">&copy; 2019 Amazon Web Services, Inc. or its Affiliates. All rights reserved.<h5>
    <h2 class="github-title">Github Repo</h2>
    <h3 class="github-title">EC2 MSSQL Workshop</h3>
    <a class="github-button" href="https://github.com/aws-samples/amazon-ec2-mssql-workshop"
                data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a>
    <a class="github-button" href="https://github.com/aws-samples/amazon-ec2-mssql-workshop/fork"
                data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork on GitHub">Fork</a>
</left>

<script async defer src="https://buttons.github.io/buttons.js"></script>
